<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <appSettings>
    <add key="Dates" value="29NOV2018,15NOV2018" />
    <add key="MasterFilePath" value="https://masterdatadevelopment.blob.core.windows.net/oidata/" />
    <add key="BankNiftyStaticData" value="https://masterdatadevelopment.blob.core.windows.net/staticdata/BankNifty.txt" />
    <add key="NiftyStaticData" value="https://masterdatadevelopment.blob.core.windows.net/staticdata/Nifty50.txt" />
    <add key="LiveMarketUrl" value="https://www.nseindia.com/live_market/dynaContent/live_watch/option_chain/optionKeys.jsp?segmentLink=17&amp;instrument=OPTIDX&amp;symbol=BANKNIFTY&amp;date=XXXDATE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="MasterFilePath" value="D:\Analyzer\MasterData\FullOptionsData\" />
    <add key="AzMasterFilePath" value="https://masterdatadevelopment.blob.core.windows.net/oidata/" />
    </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=azquickscheduler;AccountKey=AAtD1m6DB4LvBqVGi17PAOCFctwY+KRhv40F89bHQABnZf+3A5OeRdr3sPuHPCbv9kZgwIWq8UdFBt3+uMmLZA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=azquickscheduler;AccountKey=AAtD1m6DB4LvBqVGi17PAOCFctwY+KRhv40F89bHQABnZf+3A5OeRdr3sPuHPCbv9kZgwIWq8UdFBt3+uMmLZA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>