
@{
    ViewBag.Title = "RefreshPostData";
}

<h2>RefreshPostData</h2>

<style>
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table th {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #999999;
            border-collapse: collapse;
        }

        table td {
            background: #dcddc0;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
            align-items: flex-start;
        }
</style>

<script>
    $(document).ready(function () {

        $("#refreshDataId").click(function () {
            $('#ImgProcess').show();
            $.ajax({
                url: "http://localhost:56627/Api/Default/",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    $('#ImgProcess').hide();
                    alert(data);
                },
                error: function (msg) {
                    $('#ImgProcess').hide();
                    alert("Error");
                }
            });
        });
    });
</script>

<input type="button" value="RefreshData" id="refreshDataId" />

<div id="ImgProcess"  hidden="hidden">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lds-blocks" width="80px" height="80px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <rect x="17" y="17" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0s" calcMode="discrete" />
        </rect>
        <rect x="40" y="17" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.125s" calcMode="discrete" />
        </rect>
        <rect x="63" y="17" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.25s" calcMode="discrete" />
        </rect>
        <rect x="17" y="40" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.875s" calcMode="discrete" />
        </rect>
        <rect x="63" y="40" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.375s" calcMode="discrete" />
        </rect>
        <rect x="17" y="63" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.75s" calcMode="discrete" />
        </rect>
        <rect x="40" y="63" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.625s" calcMode="discrete" />
        </rect>
        <rect x="63" y="63" width="20" height="20" fill="#577c9b">
            <animate attributeName="fill" values="#0dceff;#577c9b;#577c9b" keyTimes="0;0.125;1" dur="1s" repeatCount="indefinite" begin="0.5s" calcMode="discrete" />
        </rect>
    </svg>
</div>